* {
    box-sizing: border-box; 
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1 {
    font-weight: bold;
}
.forecast {
    
    font-size: 0.9em;
}
span {
    font-size: 1em;
}
button:hover {
    background-color: rgb(145, 195, 245);
    text-decoration: underline;
}